.RollDice {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.RollDice-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.RollDice button {
  align-self: center;
  width: 15em;
  padding: 1.5em;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: blue;
  margin-top: 3em;
}

.title {
  color: white;
  font-size: 80px;
  text-align: center;
}

.RollDice button:hover {
  background-color: red;
  cursor: pointer;
}
